<h1 class="season_title"><%=params[:league].upcase%>  <%=params[:season].sub(/-(?!.*-).*$/,'')%></h1>

<div class="division_grid">
<%@divisions.each do |d|%>
<table class="division_box">
<tr><th><%=d["@name"].sub(/^.*\//,'')%></th></tr>
<%d["teamentry"].each do |t|%>
<tr>
<td><%= t["team"]["City"]%><%= t["team"]["Name"]%></td>
<td><%=t["stats"]["Wins"]['#text']%></td>
<td><%=t["stats"]["Losses"]['#text']%></td>
<td><%=t["stats"]["WinPct"]['#text']%></td></tr>
<%end%>
</table>
<%end%>
</div>
