<%= @games[0]['team']['City'] %> <%= @games[0]['team']['Name'] %> Schedule
<br>
<%= @games[0]['game']['date'][0..3] %> Season
<br>



<% @games.each do |g| %>
	<div class=box>
		<% gameid = (g['game']['date']).tr("-","") %>
		<% gameawayt = (g['game']['awayTeam']['Abbreviation']).to_s %>
		<% gamehomet = (g['game']['homeTeam']['Abbreviation']).to_s %>
		<% total = ((gameid)+ '-' +(gameawayt)+ '-' +(gamehomet)) %>
	
		<!-- Rendering the date for the game -->
			<p>
				<% gameid %>
				<% year = gameid  [0..3] %>
				<% month = gameid [4..5] %>
				<% day = gameid [6..7] %>
				<!-- If statement to render month instead of string representing month as a number -->
				<% if month == '01' %>
					<%= "Jan." %>
				<% elsif month == '02' %>
					<%= "Feb." %>
				<% elsif month == '03' %>
					<%= "Mar." %>
				<% elsif month == '04' %>
					<%= "Apr." %>
				<% elsif month == '05' %>
					<%= "May" %>
				<% elsif month == '06' %>
					<%= "Jun." %>
				<% elsif month == '07' %>
					<%= "Jul." %>
				<% elsif month == '08' %>
					<%= "Aug." %>
				<% elsif month == '09' %>
					<%= "Sep." %>
				<% elsif month == '10' %>
					<%= "Oct." %>
				<% elsif month == '11' %>
					<%= "Nov." %>
				<% elsif month == '12' %>
					<%= "Dec." %>
				<% end %>
				<%= day %>,
				<%= year %>
			</p>
		</a>
		<!-- Showing away at home team -->
		<p class=team>
			<%= g['game']['awayTeam']['City'] %> <%= g['game']['awayTeam']['Name'] %>
		</p>
		<p class='where'>
			at
		</p>
		<p class=team>
			<%= g['game']['homeTeam']['City'] %> <%= g['game']['homeTeam']['Name'] %>
		</p>
		<!-- using points scored to determine Win or Loss -->
		<% if  (g['stats']['RunsFor']['#text']).to_i > (g['stats']['RunsAgainst']['#text']).to_i %>
			<p class=w  >
				<% link_to scorestring =  "W " + (g['stats']['RunsFor']['#text']) + '-'  +(g['stats']['RunsAgainst']['#text']) %>
				<%= link_to scorestring, boxscore_path(params[:league], params[:season], total)%>
			</p>
			<% else %>
			<p class=l>
				<% scorestring =  "L " + (g['stats']['RunsAgainst']['#text'])+ '-' + (g['stats']['RunsFor']['#text']) %>
				<%= link_to scorestring, boxscore_path(params[:league], params[:season], total)%>
			</p>
		<% end %>
	</div>
<%end%>
