<h1 class="season_title">
	<%= @games[0]['team']['City'] %> <%= @games[0]['team']['Name'] %> Schedule 
	<br>
	<%= @games[0]['game']['date'][0..3] %> Season
	<br>
</h1>
<!-- Drop down to select the season -->
<div class="selector">
	<button onclick="myFunction()" class="dropbtn">Select a Season</button>
	<div class="selector-content" id="dropdwn">
		<%= link_to '2016-2017 Regular Season', leagues_teamseason_path(params[:league], '2016-2017-regular')%>
		<%= link_to '2015-2016 Regular Season', leagues_teamseason_path(params[:league], '2015-2016-regular')%>
		<%= link_to '2014-2015 Regular Season', leagues_teamseason_path(params[:league], '2014-2015-regular')%>
		<%= link_to '2013-2014 Regular Season', leagues_teamseason_path(params[:league], '2013-2014-regular')%>
		<%= link_to '2012-2013 Regular Season', leagues_teamseason_path(params[:league], '2012-2013-regular')%>
		<%= link_to '2011-2012 Regular Season', leagues_teamseason_path(params[:league], '2011-2012-regular')%>
		<%= link_to '2010-2011 Regular Season', leagues_teamseason_path(params[:league], '2010-2011-regular')%>
		<%= link_to '2009-2010 Regular Season', leagues_teamseason_path(params[:league], '2009-2010-regular')%>
		<%= link_to '2008-2009 Regular Season', leagues_teamseason_path(params[:league], '2008-2009-regular')%>
		<%= link_to '2007-2008 Regular Season', leagues_teamseason_path(params[:league], '2007-2008-regular')%>
	</div>
</div>

<table class="division_box">
	<tr>
		<th>Date</th>
		<th>Game</th>
		<th>Result</th>
	</tr>
	<% @games.each do |g| %>
		<% gameid = (g['game']['date']).tr("-","") %>
		<% gameawayt = (g['game']['awayTeam']['Abbreviation']).to_s %>
		<% gamehomet = (g['game']['homeTeam']['Abbreviation']).to_s %>
		<% total = ((gameid)+ '-' +(gameawayt)+ '-' +(gamehomet)) %>
				<!-- Rendering the date for the game -->
		<% gameid %>
		<% year = gameid  [0..3] %>
		<% month = gameid [4..5] %>
		<% day = gameid [6..7] %>				
				<!-- If statement to render month instead of string representing onth as a number -->
		<tr>
			<td class="font">
				<% if month == '01' %>
					<%= "Jan." %>
					<% elsif month == '02' %>
						<%= "Feb." %>
					<% elsif month == '03' %>
						<%= "Mar." %>
					<% elsif month == '04' %>
						<%= "Apr." %>
					<% elsif month == '05' %>
						<%= "May" %>
					<% elsif month == '06' %>
						<%= "Jun." %>
					<% elsif month == '07' %>
						<%= "Jul." %>
					<% elsif month == '08' %>
						<%= "Aug." %>
					<% elsif month == '09' %>
						<%= "Sep." %>
					<% elsif month == '10' %>
						<%= "Oct." %>
					<% elsif month == '11' %>
						<%= "Nov." %>
					<% elsif month == '12' %>
						<%= "Dec." %>
				<% end %>
				<%= day %>,
				<%= year %>
			</td>
				<!-- Showing away vs home team -->
			<td class="font">
				<% if (g['team']['Name']).to_s == g['game']['awayTeam']['Name'] %>
					<p class="where">@</p><%= g['game']['homeTeam']['Name'] %>
				<% else %>
					<p class="where">vs.</p><%= g['game']['awayTeam']['Name'] %>
				<% end %>
			</td>


<!--
			<td class="font">
				<%#= g['game']['awayTeam']['City'] %> <%#= g['game']['awayTeam']['Name'] %>
				<p class="where">at</p>
				<%#= g['game']['homeTeam']['City'] %> <%#= g['game']['homeTeam']['Name'] %>
			</td>

		-->
				<!-- using points scored to determine Win or Loss -->
			<% if  (g['stats']['GoalsFor']['#text']).to_i > (g['stats']['GoalsAgainst']['#text']).to_i %>
				<% scorestring =  "W " + (g['stats']['GoalsFor']['#text']) + '-'  +(g['stats']['GoalsAgainst']['#text']) %>
				<td><%= link_to scorestring, boxscore_path(params[:league], params[:season], total)%></td>
			<% else %> 
				<% scorestring =  "L " + (g['stats']['GoalsAgainst']['#text'])+ '-' + (g['stats']['GoalsFor']['#text']) %>
				<td><%= link_to scorestring, boxscore_path(params[:league], params[:season], total), class: "l"%></td>
			<% end %>
		</tr>
	<%end%>
</table>