<% g = @games %>
<h1>Boxscore</h1>
<div>Away</div>
<br/>
<div>City: <%= g['game']['awayTeam']['City'] %></div>
<div>Team: <%= g['game']['awayTeam']['Name'] %></div>
<div>Abb:<%= g['game']['awayTeam']['Abbreviation'] %></div>
<div>PTS: <%= g['quarterSummary']['quarterTotals']['awayScore'] %></div>
<div>Win: <%= g['awayTeam']['awayTeamStats']['Wins']['#text'] %></div>

<br/>
<div>Home</div>
<br/>
<div>City: <%= g['game']['homeTeam']['City'] %></div>
<div>Team: <%= g['game']['homeTeam']['Name'] %></div>
<div>Abb: <%= g['game']['homeTeam']['Abbreviation'] %></div>
<div>PTS: <%= g['quarterSummary']['quarterTotals']['homeScore'] %></div>
<div>Win: <%= g['homeTeam']['homeTeamStats']['Wins']['#text'] %></div>



	
		
		
