<h1>2016-2017 Season</h1>


<% @games.each do |g| %>
<div class="gamebox">
<%= g["awayTeam"]["City"]%>
<%= g["awayTeam"]["Name"]%>
<br>
<%=g['id']%>
<br>
<%= g["homeTeam"]["City"]%>
<%= g["homeTeam"]["Name"]%>
<div/>
<hr>
<%end%>
