<div class="pic_show"><h2>Edit Photo</h2><br>

    <%= form_for @pic do |f| %>
        <p>Description:</p><br>
        <%= f.text_area :description %><br>
        <br>
        <%= f.file_field :image%>
        <br>
        <%= f.submit %>

    <%end%>
<br>
<%= link_to 'Delete Picture', picture_path, method: :delete %>
</div>