<div class="pic_show">

  <h2>Upload New Photo</h2><br>

<%= form_for @pic, html: { multipart: true } do |f| %>
<%= f.hidden_field :user_id, :value => @userid, :required => true %>
<%= f.hidden_field :game_id, :value => @gameid, :required => true %>
<%= hidden_field_tag :url, params[:url].to_s %>
<div class="form_field"><p>Description:</p><br><%= f.text_area :description, class: "desc_field" %></div><br>
<div class="form_field"><%= f.file_field :image, :required => true, class: "add_pic"%></div><br>
<div class="pic-submit"><%= f.submit %></div>
<% end %>


</div>
