<div class="pic_show"><h2>Selected Photo</h2><br>
<%=image_tag @pic.image.url(:large)%><br>
<% if user_signed_in? %>
<% if current_user.id == @pic.user_id %>
			<%= link_to 'Edit Picture', edit_picture_path %>
		<% else %>
<% end %>
<% end %>
<p id="pic_des"><%= @pic.description%></p><br>
<div >
	<div id="comment_box">
		<% @comments.each do |c|%>
		<div><%= link_to User.find_by_id(c.user_id).username, user_profile_path(User.find_by_id(c.user_id).username)%>
			<p>: <%=c.content%></p>
			<hr>
		</div>
		<%end%>
	</div>
</div>
<%= form_for :comment, :url => picture_comments_path(@pic.id)  do |f|%>
<%= f.text_area :content,  maxlength: 150, :required => true %>
<%= f.hidden_field :user_id, :value => current_user.id%>
<%= f.hidden_field :picture_id, :value => @pic.id %>
<%= f.submit %>
<% end %>
<form method="post" action="/pictures/36/comments">
<input name="authenticity_token" type="hidden" value="oluRTfXlpMELI1V5tNo/7N5I9ywAxlROQSF0nGl7TwgqNrF1yjUzQ+bCh6nUKYG26z5DMHMYDgN/096jwhOf6Q==">
<input type="hidden" value="1" name="comment[user_id]">
<input type="hidden" value="36" name="comment[picture_id]">
<textarea required="" name="comment[content]" placeholder="Type Comment Here..."></textarea>
<input type="submit" value="Create Comment"></form>


</div>
