<!-- Page variables -->
<% g = @games %>
<% awayTeams = g['awayTeam']%>
<% homeTeams = g['homeTeam']%>
<% quarterScore = g['quarterSummary']['quarter']%>
<% quarterTotal = g['quarterSummary']['quarterTotals']%>
<% teamCity = g['game']%>
<% teamName = g['game']%>
<% abb = g['game']%>
<% pts = g['quarterSummary']['quarterTotals']%>
<% @awayQuarterTotals = []%>
<% @homeQuarterTotals = []%>

<body id="bodyBoxscore">
	<div class="headliner">
		<div class="font" id="Team">
			<div class="teamCity"><%= teamCity['awayTeam']['City'] %></div>
			<div class="teamName"><%= teamName['awayTeam']['Name'] %></div>
			<div class="homeAway"> Away </div>
			<div class="Score"><%= quarterTotal['awayScore'] %></div>
		</div>

		<div class="footballScore" id="footballScoreBoard" >
			<table >
				<tr>
					<th></th>
					<th>1st</th>
					<th>2nd</th>
					<th>3rd</th>
					<th>4th</th>
					<th>Total</th>
				</tr>
				<tr>
					<td><%= abb['awayTeam']['Abbreviation']%></td>
						<% quarterScore.each do |q|%>
							<td><%= q['awayScore'] %></td>
						<% end %>
					<td><%= quarterTotal['awayScore']%></td>
				</tr>

				<tr>
					<td><%= abb['homeTeam']['Abbreviation']%></td>
						<% quarterScore.each do |q|%>
							<td><%= q['homeScore'] %></td>
						<% end %>
					<td><%= quarterTotal['homeScore']%></td>
				</tr>
			</table>
		</div>

		<div class="font" id="Team">
			<div class="teamCity"><%= g['game']['homeTeam']['City'] %></div>
			<div class="teamName"><%= g['game']['homeTeam']['Name'] %></div>
			<div class="homeAway"> Home </div>
			<div class="Score"><%= quarterTotal['homeScore'] %></div>
		</div>
	</div>

	<div id="statsBox">
		<table id="awayPlayersTable" >
			<tr>
				<th>Passing</th>
				<th>C/AT</th>
				<th>YDS</th>
				<th>AVG</th>
				<th>TD</th>
				<th>INT</th>
			</tr>
			<%#= awayTeams['awayTeamStats']['PassAttempts']['#text']%>
			<%# awayTeams do |a|%>
				<% passAttempts = awayTeams['awayTeamStats']['PassAttempts']['#text'].to_i%>
				<% passCompletions = awayTeams['awayTeamStats']['PassCompletions']['#text'].to_i%>
				<% passYds = awayTeams['awayTeamStats']['PassNetYards']['#text'].to_i%>
				<% passAvg = awayTeams['awayTeamStats']['PassAvg']['#text']%>
				<% passTD = awayTeams['awayTeamStats']['PassTD']['#text'].to_i%>
				<% passINT = awayTeams['awayTeamStats']['PassInt']['#text'].to_i%>
				<% rushAttempts = awayTeams['awayTeamStats']['RushAttempts']['#text'].to_i%>
				<% rushYds = awayTeams['awayTeamStats']['RushYards']['#text'].to_i%>
				<% rushAvg = awayTeams['awayTeamStats']['RushAverage']['#text']%>
				<% rushTD = awayTeams['awayTeamStats']['RushTD']['#text'].to_i%>
				<% fumbles = awayTeams['awayTeamStats']['Fumbles']['#text'].to_i%>
				<tr>
					<td class="playerStats"><%= teamName['awayTeam']['City'] %> <%= teamName['awayTeam']['Name'] %></td>
					<td class="playerStats"><%= passCompletions %> / <%= passAttempts %></td> 
					<td class="playerStats"><%= passYds %></td> 
					<td class="playerStats"><%= passAvg %></td>
					<td class="playerStats"><%= passTD %></td>
					<td class="playerStats"><%= passINT %></td>
					
				 </tr>
			<%# end %>
			<%# homeTeams.each do |h|%>
				<% passAttempts = homeTeams['homeTeamStats']['PassAttempts']['#text'].to_i%>
				<% passCompletions = homeTeams['homeTeamStats']['PassCompletions']['#text'].to_i%>
				<% passYds = homeTeams['homeTeamStats']['PassNetYards']['#text'].to_i%>
				<% passAvg = homeTeams['homeTeamStats']['PassAvg']['#text']%>
				<% passTD = homeTeams['homeTeamStats']['PassTD']['#text'].to_i%>
				<% passINT = homeTeams['homeTeamStats']['PassInt']['#text'].to_i%>
				<% rushAttempts = homeTeams['homeTeamStats']['RushAttempts']['#text'].to_i%>
				<% rushYds = homeTeams['homeTeamStats']['RushYards']['#text'].to_i%>
				<% rushAvg = homeTeams['homeTeamStats']['RushAverage']['#text']%>
				<% rushTD = homeTeams['homeTeamStats']['RushTD']['#text'].to_i%>
				<% fumbles = homeTeams['homeTeamStats']['Fumbles']['#text'].to_i%>
				<tr>
					<td class="playerStats"><%= teamName['homeTeam']['City'] %> <%= teamName['homeTeam']['Name'] %></td>
					<td class="playerStats"><%= passCompletions %> / <%= passAttempts %></td> 
					<td class="playerStats"><%= passYds %></td> 
					<td class="playerStats"><%= passAvg %></td>
					<td class="playerStats"><%= passTD %></td>
					<td class="playerStats"><%= passINT %></td> 
					 
				 </tr>

			<tr></tr>
			<tr>
				<th>Rushing</th>
				<th>Attempts</th>
				<th>Yards</th>
				<th>AVG</th>
				<th>TD</th>
				<th>FUM</th>
			</tr>
				<tr>
					<td class="playerStats"><%= teamName['awayTeam']['City'] %> <%= teamName['awayTeam']['Name'] %></td>
					<td class="playerStats"><%= rushAttempts %></td> 
					<td class="playerStats"><%= rushYds %></td> 
					<td class="playerStats"><%= rushAvg %></td>
					<td class="playerStats"><%= rushTD %></td>
					<td class="playerStats"><%= fumbles %></td>
				</tr>
				<tr>
					<td class="playerStats"><%= teamName['homeTeam']['City'] %> <%= teamName['homeTeam']['Name'] %></td>
					<td class="playerStats"><%= rushAttempts %></td> 
					<td class="playerStats"><%= rushYds %></td> 
					<td class="playerStats"><%= rushAvg %></td>
					<td class="playerStats"><%= rushTD %></td>
					<td class="playerStats"><%= fumbles %></td>
				</tr>
			<%# end %>
		</table>
	</div>
</body>
