
<!-- Page variables -->

<% g = @games %>
<% awayPlayers = g['awayTeam']['awayPlayers']['playerEntry']%>
<% homePlayers = g['homeTeam']['homePlayers']['playerEntry']%>
<% quarterScore = g['quarterSummary']['quarter']%>
<% quarterTotal = g['quarterSummary']['quarterTotals']%>
<% teamCity = g['game']%>
<% teamName = g['game']%>
<% abb = g['game']%>
<% pts = g['quarterSummary']['quarterTotals']%>
<% @awayQuarterTotals = []%>
<% @homeQuarterTotals = []%>

<table class="headliner wholeBox">
	<tr class="header">
		<th> <!-- left blank on purpose --> </th>
		<th>1st</th>
		<th>2nd</th>
		<th>3rd</th>
		<th>4th</th>
		<th>Total</th>
	</tr>

	<tr class="awayTotals">
		<td><%= teamName['awayTeam']['City'] %> <%= teamName['awayTeam']['Name'] %></td>
		<td><%= quarterScore[0]['awayScore'] %></td>
		<td><%= quarterScore[1]['awayScore'] %></td>
		<td><%= quarterScore[2]['awayScore'] %></td>
		<td><%= quarterScore[3]['awayScore'] %></td>
		<td><%= quarterTotal['awayScore'] %></td>
	</tr>

	<tr class="homeTotals">
		<td><%= teamCity['homeTeam']['City'] %> <%= teamName['homeTeam']['Name'] %></td>
		<td><%= quarterScore[0]['homeScore'] %></td>
		<td><%= quarterScore[1]['homeScore'] %></td>
		<td><%= quarterScore[2]['homeScore'] %></td>
		<td><%= quarterScore[3]['homeScore'] %></td>
		<td><%= quarterTotal['homeScore'] %></td>
	</tr>
</table>



