<!-- Page variables -->
<% g = @games %>
<% awayPlayers = g['awayTeam']['awayPlayers']['playerEntry']%>
<% homePlayers = g['homeTeam']['homePlayers']['playerEntry']%>
<% periodScore = g['periodSummary']['period']%>
<% teamCity = g['game']%>
<% teamName = g['game']%>
<% abb = g['game']%>
<% pts = g['periodSummary']['periodTotals']%> 


<h1>Boxscore</h1>

<div>Away QTR Score</div>

<%= abb['awayTeam']['Abbreviation']%> -
<% periodScore.each do |q|%>
	<%= q['awayScore'] %>

<% end %>
<!-- Prints the away team total score -->
<%= pts['awayScore'] %>

<!-- Loop that stores the QTR totals for the home team -->
<div>Home QTR Score</div>

<%= abb['homeTeam']['Abbreviation']%> -
<% periodScore.each do |q|%>
	<%= q['homeScore'] %>

<% end %>

<!-- Prints the home team total score -->
<%= pts['homeScore'] %>

<hr>
<!-- Team info -->
<div> Away Team </div>
<br/>
<div>City: <%= teamCity['awayTeam']['City'] %></div>
<div>Team: <%= teamName['awayTeam']['Name'] %></div>
<div>Abb:<%= abb['awayTeam']['Abbreviation'] %></div>
<div>PTS: <%= pts['awayScore'] %></div>

<hr>

	<br/>
	<!-- Loop that shows the away players and their game stats -->
	<% awayPlayers.each do |a|%>
	<!-- All the variables used in this loop -->
		<% firstName = a['player']['FirstName']%>
		<% lastName = a['player']['LastName']%>
		<% position = a['player']['Position']%>
		<%# goals = a['stats']['Goals']['#text'].to_i%>
		<%# assist = a['stats']['Assist']['#text'].to_i%>
		<%# points = a['stats']['Points']['#text'].to_i%>
		<%# shots = a['stats']['Shots']['#text'].to_i%>

		<div>
			<div><%= firstName%> <%= lastName%> <%= position%></div>
			<div>Goals: <%#= goals%></div>
			<div>Assists: <%#= assist%></div> 
			<div>Points: <%#= points%></div> 
			<div>Shots: <%#= shots%></div>

		</div>
		<hr>
	<% end %>
<hr>

<!-- Team info -->		
<div> Home Team </div>
<br/>
<div>City: <%= g['game']['homeTeam']['City'] %></div>
<div>Team: <%= g['game']['homeTeam']['Name'] %></div>
<div>Abb: <%= g['game']['homeTeam']['Abbreviation'] %></div>
<div>PTS: <%= pts['homeScore'] %></div>

<hr>
	<br/>
	<!-- Loop that shows the home players and their game stats -->
		<% homePlayers.each do |h|%>
		<!-- All the variables used in this loop -->
			<% firstName = h['player']['FirstName']%>
			<% lastName = h['player']['LastName']%>
			<% position = h['player']['Position']%>
			<%# goals = h['stats']['Goals']['#text'].to_i%>
			<%# assist = h['stats']['Assist']['#text'].to_i%>
			<%# points = h['stats']['Points']['#text'].to_i%>
			<%# shots = h['stats']['Shots']['#text'].to_i%>
	
		<div>
			<div><%= firstName%> <%= lastName%> <%= position%></div>
			<div>Goals: <%#= goals%></div>
			<div>Assists: <%#= assist%></div> 
			<div> Points: <%#= points%></div> 
			<div>Shots: <%#= shots%></div>

		</div>
		<hr>
	<% end %>