<!-- Page variables -->
<% g = @games %>
<% awayPlayers = g['awayTeam']['awayPlayers']['playerEntry']%>
<% homePlayers = g['homeTeam']['homePlayers']['playerEntry']%>
<% periodScore = g['periodSummary']['period']%>
<% periodTotal = g['periodSummary']['periodTotals']%>
<% teamCity = g['game']%>
<% teamName = g['game']%>
<% abb = g['game']%>


<body id="bodyBoxscore">
	<table class="headliner wholeBox">
		<tr class="header">
			<th> <!-- left blank on purpose --> </th>
			<th>1st</th>
			<th>2nd</th>
			<th>3rd</th>
			<th>Total</th>
		</tr>

		<tr class="awayTotals">
			<td><%= teamName['awayTeam']['City'] %> <%= teamName['awayTeam']['Name'] %></td>
			<td><%= periodScore[0]['awayScore'] %></td>
			<td><%= periodScore[1]['awayScore'] %></td>
			<td><%= periodScore[2]['awayScore'] %></td>
			<td><%= periodTotal['awayScore'] %></td>
		</tr>

		<tr class="homeTotals">
			<td><%= teamCity['homeTeam']['City'] %> <%= teamName['homeTeam']['Name'] %></td>
			<td><%= periodScore[0]['homeScore'] %></td>
			<td><%= periodScore[1]['homeScore'] %></td>
			<td><%= periodScore[2]['homeScore'] %></td>
			<td><%= periodTotal['homeScore'] %></td>
		</tr>
	</table>

	<div id="statsBox">
		<div class="font">
			<%= teamName['awayTeam']['City'] %> <%= teamName['awayTeam']['Name'] %>
		</div>

		<table id="awayPlayersTable" >
			<tr>
				<th>Player</th>
				<th>Assists</th>
				<th>Goals</th>
				<th>Points</th>
			</tr>
			<!-- Loop that shows the away players and their game stats -->
			<% awayPlayers.each do |a|%>
			<!-- All the variables used in this loop -->
				<% firstName = a['player']['FirstName']%>
				<% lastName = a['player']['LastName']%>
				<% position = a['player']['Position']%>
				<% goals = a['stats']['Goals']['#text'].to_i%>
				<% assist = a['stats']['Assists']['#text'].to_i%>
				<% points = a['stats']['Points']['#text'].to_i%>

				<tr>
					<td class="player"><%= firstName.first%>. <%= lastName%> <%= position%></td>
					<td class="playerStats"><%= assist%></td>
					<td class="playerStats"><%= goals%></td>
					<td class="playerStats"><%= points%></td> 
				</tr>
			<% end %>
		</table>

		<div class="font">
			<%= teamName['homeTeam']['City'] %> <%= teamName['homeTeam']['Name'] %>
		</div>

		<table class="homePlayersTable">
			<tr>
				<th>Player</th>
				<th>Assists</th>
				<th>Goals</th>
				<th>Points</th>
			</tr>
			<!-- Loop that shows the home players and their game stats -->
			<% homePlayers.each do |h|%>
			<!-- All the variables used in this loop -->
				<% firstName = h['player']['FirstName']%>
				<% lastName = h['player']['LastName']%>
				<% position = h['player']['Position']%>
				<% goals = h['stats']['Goals']['#text'].to_i%>
				<% assist = h['stats']['Assists']['#text'].to_i%>
				<% points = h['stats']['Points']['#text'].to_i%>
			
				<tr>
					<td class="player"><%= firstName.first%>. <%= lastName%> <%= position%></td>
					<td class="playerStats"><%= assist%></td>
					<td class="playerStats"><%= goals%></td>
					<td class="playerStats"><%= points%></td> 
				</tr>
			<% end %>
		</table>
	</div>
</body>
