<!-- Page variables -->
<% g = @games %>
<% awayPlayers = g['awayTeam']['awayPlayers']['playerEntry']%>
<% homePlayers = g['homeTeam']['homePlayers']['playerEntry']%>
<% periodScore = g['periodSummary']['period']%>
<% periodTotal = g['periodSummary']['periodTotals']%>
<% teamCity = g['game']%>
<% teamName = g['game']%>
<% abb = g['game']%>
<% pts = g['periodSummary']['periodTotals']%> 


	<table class="headliner wholeBox">
		<tr class="header">
			<th> <!-- left blank on purpose --> </th>
			<th>1st</th>
			<th>2nd</th>
			<th>3rd</th>
			<th>Total</th>
		</tr>

		<tr class="awayTotals">
			<td><%= teamName['awayTeam']['City'] %> <%= teamName['awayTeam']['Name'] %></td>
			<td><%= periodScore[0]['awayScore'] %></td>
			<td><%= periodScore[1]['awayScore'] %></td>
			<td><%= periodScore[2]['awayScore'] %></td>
			<td><%= periodTotal['awayScore'] %></td>
		</tr>

		<tr class="homeTotals">
			<td><%= teamCity['homeTeam']['City'] %> <%= teamName['homeTeam']['Name'] %></td>
			<td><%= periodScore[0]['homeScore'] %></td>
			<td><%= periodScore[1]['homeScore'] %></td>
			<td><%= periodScore[2]['homeScore'] %></td>
			<td><%= periodTotal['homeScore'] %></td>
		</tr>
	</table>

	<!-- Loop that shows the away players and their game stats -->
	<% awayPlayers.each do |a|%>
	<!-- All the variables used in this loop -->
		<% firstName = a['player']['FirstName']%>
		<% lastName = a['player']['LastName']%>
		<% position = a['player']['Position']%>
		<%# goals = a['stats']['Goals']['#text'].to_i%>
		<%# assist = a['stats']['Assist']['#text'].to_i%>
		<%# points = a['stats']['Points']['#text'].to_i%>
		<%# shots = a['stats']['Shots']['#text'].to_i%>

		<div>
			<div><%= firstName%> <%= lastName%> <%= position%></div>
			<div>Goals: <%#= goals%></div>
			<div>Assists: <%#= assist%></div> 
			<div>Points: <%#= points%></div> 
			<div>Shots: <%#= shots%></div>
		</div>
		<hr>
	<% end %>
<hr>

	<!-- Loop that shows the home players and their game stats -->
		<% homePlayers.each do |h|%>
		<!-- All the variables used in this loop -->
			<% firstName = h['player']['FirstName']%>
			<% lastName = h['player']['LastName']%>
			<% position = h['player']['Position']%>
			<%# goals = h['stats']['Goals']['#text'].to_i%>
			<%# assist = h['stats']['Assist']['#text'].to_i%>
			<%# points = h['stats']['Points']['#text'].to_i%>
			<%# shots = h['stats']['Shots']['#text'].to_i%>
	
		<div>
			<div><%= firstName%> <%= lastName%> <%= position%></div>
			<div>Goals: <%#= goals%></div>
			<div>Assists: <%#= assist%></div> 
			<div> Points: <%#= points%></div> 
			<div>Shots: <%#= shots%></div>

		</div>
		<hr>
	<% end %>