<!DOCTYPE html>
<html>
  <head>
    <title>Apitestapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="layout-body">
<header>
  

  <div class="navbar">
  <ul>
    <li><%= link_to "Home", root_path, :class => current_class?(root_path) %></li>
    <li>
      <%= link_to 'NBA', root_path  %>
      <ul class="fallback">
        <li><%= link_to '2014 - 2015', root_path  %></li>
        <li><%= link_to '2015 - 2016', root_path  %></li>
        <li><%= link_to '2016 - 2017', root_path  %></li>
      </ul>
    </li>
    
    <li><%= link_to 'NFL', root_path  %></li>
    <li><%= link_to 'NHL', root_path  %></li>
    <li><%= link_to 'MLB', root_path  %></li>
  </ul>
</div>
</header>
  
    <%= yield %>
  </body>
</html>
