<!DOCTYPE html>
<html>
  <head>
    <title>Apitestapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="layout-body">
<header>
  

  <div class="navbar">
    <% if !user_signed_in? %>
      <%= link_to "Home", root_path %>
    <% end %>
      <%= link_to 'MLB', leagues_season_path(:league => "mlb", :season => "2017-regular")  %>  
      <%= link_to 'NBA', leagues_season_path(:league => "nba", :season => "2016-2017-regular") %>
      <%= link_to 'NFL', leagues_season_path(:league => "nfl", :season => "2017-regular")  %>
      <%= link_to 'NHL', leagues_season_path(:league => "nhl", :season => "2016-2017-regular")  %>

    <% if !user_signed_in? %>
    <a class="pointer" id="log_in" onclick="login()">Login</a>
    <a class="pointer" id="sign_up" onclick="signup()">Sign Up</a>
    <% else %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>

</div>
</header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Sign in modal -->
<div id="modal-overlay">
    <div class="modal">
      <button class="close" id="close" onclick="Close()">X</button>
        <div class="centerer">
            <div class="signin-box">
              <h1 class="modal-titles">Login</h1>
              <%= form_for(:user, :url => session_path(:user)) do |f| %>
                <div class="centerer">Username or Email</div>
                <div> <%= f.text_field :login, autofocus: true, autocomplete: "email", placeholder: "Username or Email"  %></div>
                <div>Password</div>
                <div> <%= f.password_field :password, autocomplete: "off", placeholder: "Password"  %></div>
                <div><%= f.check_box :remember_me%>
                     <%= f.label :remember_me %></div>
                <div onclick="Close()"><%= f.submit 'Sign in' %></div>
                <div class="signin-links"><%= link_to "Forgot your password?", new_password_path(:user) %></div>
              <% end %>
            </div>
        </div>
    </div>
</div>
<!-- Sign up modal -->
<div id="modal-overlay2">
    <div class="modal2">
      <button class="close2" id="close2" onclick="Close2()">X</button>
        <div class="centerer">
            <div class="signin-box">
              <h1 class="modal-titles">Sign Up</h1>
                <%= form_for(:user, :url => registration_path(:user)) do |f| %>
              
                  <div class="field">
                  <%=f.label :username %> <br/>
                  <%= f.text_field :username, autofocus: true %></div>

                  <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field">
                  <%= f.label :password %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>

              <div onclick="Close2()"><%= f.submit 'Sign up' %></div>
              <% end %>
            </div>
        </div>
    </div>
</div>


<!-- Modal JavaScript script -->

<script>


let modal = document.getElementById('log_in');
let close = document.getElementById('close');
let modal2 = document.getElementById('sign_up');
let close2 = document.getElementById('close2');

let modalOverlay = document.getElementById('modal-overlay');

let modalOverlay2 = document.getElementById('modal-overlay2');
  
  function login(){
    modalOverlay.style.display = 'block';
}

  function Close() {

    modalOverlay.style.display = 'none';
  }
   function signup(){
    modalOverlay2.style.display = 'block';
}

  function Close2() {

    modalOverlay2.style.display = 'none';
  }


</script>
    <%= yield %>
  </body>
</html>
